#index-content {
  display: grid;
  justify-content: center;
}

#index-content :is(.glitch-text, h1) {
  text-align: center;
}

#index-content h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
